@charset "UTF-8";



body {
	margin: 0px;
}


header {
	background-color: #393B3F;
}

header div {
	height: 50px;
}

#home {
	font-size: 20px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	top: 10px;
	font-style: italic;


}

.header_bar_menu {

	position: absolute;
	right: 35px;
	padding: 15px;
}

#header_bar img {
	width: 100px;
	height: 100%;

}

.header_bar_menu span {
	margin: 10px;
	border-left: 1px solid #444444;
	border-right: 1px solid #444444;
}

#status {
	float: right;
	margin-right: 350px;
	padding: 15px;
	color: white;
	font-size: 15px;
}

.status {
	padding: 10px;

}



.header_bar_menu a:hover {
	color: white;
}

#header_menu {
	background-color: #494B50;
	height: 40px;
}

#header_menu>div {
	padding-left: 20px;
}

.header_menu_menu {
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	float: left;
	text-align: center;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	height: 20px;
}

.header_menu_menu:hover {
	background-color: white;
	color: black;
	transition: background-color 0.5s, transform 0.5s;
}

#header_menu a {
	text-decoration: none;
	color: white;
}


aside {
	border-right: 1px solid #CCCCCC;
	margin-top: 40px;
	height: 1000px;
	width: 15%;
}

#aside_logo {
	text-align: center;
	height: 100px;
	padding-top: 10px;
}

#aside_logo img {
	height: 70px;
}

#aside_logo+div {
	margin-top: 20px;
}


.asidemenu {
	padding-left: 0%;
	background-color: #f6f6f6;
	border-top: 1px solid #cfcfcf;
	line-height: 2.8;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;

}

dd {
	padding: 20px;
}

dd>a {
	cursor: pointer;
}

a:link,
a:visited {
	color: #454545;
	text-decoration: underline;
}

dd:active a {
	font-weight: 600;
	color: #fa2828 !important;
	background: #eeeeee !important;
}
main {
	position: absolute;
	left: 15%;
	top: 90px;
	width: 1400px;
}

#breadcrum {
	border-bottom: 1px solid #E9E9E9;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	height: 5vh;
}

#main_title {
	margin-left: 40px;
	margin-top: 40px;
	color: #454545;
		font-weight: bold;
	height: 40px; padding-left: 10px; border-left : 6px solid #1A4E99;
}

#filter{
	
	width: 1200px;
	height: 200px;
	margin: auto;
	margin-top: 40px;
	border-top: 1px solid #888888;
	border-bottom: 1px solid #888888;
}

#filter_title{

	background-color: #f8f8f8;
	height:200px;
	width: 10%;
	vertical-align: center;
	text-align: center;
	
}

.filter_kind{
	height: 10%;
	border-top: black;
	border-bottom: black;
	position: absolute;
	left: 500px;
	top: 200px;
}


.large{
	font-size: 18px;
	width: 104px;
	height: 50px;
	cursor:pointer;
	margin-right: 0px;
	margin-left: 0px;
	background-color: white;
	border: 1px solid #f8f8f8;
	border-left: none;
	border-top: none;
	border-right: none;
	
	
}
.large:hover{
	background-color: #2450a2;
	color: white;
	transition: background-color 0.5s, transform 0.5s;
}


.selected{
	
	background-color: lightgray;
	
}

#submitfilter{
	
	border: none;
	cursor: pointer;
	width: 80px;
	height: 30px;
	background-color: #555;
	color: white;
	margin-top: 10px;	
}

#resetfilter{
	
		border: none;
	cursor: pointer;
	width: 80px;
	height: 30px;
	background-color: lightgray;
	margin-top: 10px;	
	
}

#filter_kind table{
	
	position: absolute;
	left: 10px;
	border: 1px solid black;
}

#boardlist{
	 width: 30%;
	 margin-left: 50px;
 text-align: center;
}


.board-item:hover{
	
	background-color: #f8f8f8;
	
}
  
     .pagination {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

.pagination-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .current-page {
        color: red;
        /* Add any additional styles for the current page text */
    }
    
    
  
    
footer {
	border-top: 1px solid #aeaeae;
}

footer>div>div {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}





#timedate {
  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  position: absolute;
  top:0%;
  left: 500px;
  text-align:left;
  width: 10%;
  color: white;
}







#boardlist {
	margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.board-row {
    width: 30%; /* Adjust the width as needed */
    box-sizing: border-box;
}

.board-item {
    margin-bottom: 20px; /* Adjust the spacing between items */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px;
}

.board-item img {
    max-width: 100%; /* Make sure images don't exceed their container */
}

.board-details {
    margin-top: 10px;
}











