@charset "UTF-8";
/*-------wrap---------*/
.wrap {
	background: #e1e1e1;
}

/*-------intro---------*/
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	border-collapse: collapse;
	color: black;
	list-style: none;
}

/*네비게이션바*/
*{
   font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

.header {
   display: flex;
    width: 1280px;
    height: 86px;
    margin: auto;
}

.nav_bar {
    margin-top: 31px;
    width: 1200px;
}

.nav_bar > ul {
    display: flex;
}

.header a {
    color:black;
}

.nav_bar li {
    margin-right: 100px;
    font-weight: bold;
    font-size: 20px;
}

.login {
    width: 80px;
    line-height: 86px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.intro_text {
    margin-top: 200px;
    text-align: center;
}

.intro_text {
    font-size: 40px;
}
.intro_text > h1,
.intro_text > h4 {
    color:black;
}
/*까지 네비게이션바*/

/*
body{
    background-color:#f5f6f7;   
}
*/
h1 {
    text-align: center;
    padding: 10px 10px;
    padding-bottom: 30px;
    border-bottom:1px solid #848484;
}

.form-0 {
    position: relative;
}

.board-top {
    width : 80%;
    height: 50px;
    margin: 0 auto;
    max-width: 100%;
}

hr{
    width: 100%;
}

.form-1 {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
}

.write-1 {
    height: 50px;
    border : none;
    font-size: 40px;
    background-color: #e1e1e1;
    outline: none;
}

.write-2 {
    margin-top: 30px;
    font-size: 15px;
    border: none;
    background-color: #e1e1e1;
    outline: none;
}

.write-3 {
    margin-top: 10px;
}

.write-4 {
    margin-top: 10px;

    width: 70px;
    height: 30px;
    border: none;
    background-color: #e1e1e1;
    Cursor:pointer;
}

.write-5 {
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 70px;
    height: 30px;
    border: none;
    background-color: #e1e1e1;
    Cursor:pointer;
}