@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

body{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: -20px 0 50px;
}

span{
    font-size: 12px;
}

a{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button{
    border-radius: 10px;
    border: 1px solid #2450a2;
    background-color: #2450a2;
    color: #fff;
    padding: 12px 45px;
    letter-spacing: 1px;
    width: 250px;
    margin-top: 7.5%;
}

button:active {
    transform: scale(0.95);
}  

img{
    width: 150px;
    height: 150px;
}
form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    height: 300px;
    text-align: center;
}

input{
    background-color: #fff;
    border: 0;
    padding: 9px;
    margin: 8px 0;
    width: 250px;
}


.logo{
    margin-bottom: 2%;
}

.input{
    outline: none;
    display: block;
    height: 40px;
    line-height: 30px;
    padding: 8px 15px;
    font-size: 14px;
}
.container{
    background-color: #fff;
    border-radius: 10px;;
    box-shadow: 0 14px 28px rgba(0,0,0,0.1),
    0 10px 10px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    max-width:100%;
    min-width: 480px;
    margin-bottom: 0%;
}

.form-container{
    /* position: absolute; */
    border: solid 1px color( 255, 255, 255 );
    padding-top: 5%;
    padding-bottom : 5%;
    margin-bottom: 3%;
    top: 10px;
    transition: all 0.6s ease-in-out;
}

.id_pw_wrap{
    border-radius: 15px;
    overflow: hidden;
    margin-top: 50px;
    left: 0;
    width: 50%;
    z-index: 2;
    border: 1px solid rgba(0,0,0,0.2);
}

hr{
    border : 1px solid rgba(0,0,0,0.2)
}
.id_pw_wrap{
    margin-top: 5%;
}

.container.id_pw_wrap {
    transform: translateX(100%);
}

.find-container{
    margin-top: 2%;
}

.find-container > span{
    font-size: 12px;
    margin: 0%;
}

