@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

body{
    background: #fff;
}

img{
    width: 150px;
    height: 150px;
}
.content{
    min-height: 300px;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
}

.form_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 700px;
    padding: 5% 12% 7% 6%;
    justify-content: center;
    overflow: hidden;
}

/* 기본 input 타입 css */
input {
    padding: 10px;
    width : 600px;
    height: 45px;
    margin: 2%;
    margin-top: 0.5%;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
}

/* 이메일 부분 css */
.email-group{
    width : 650px;
    padding: 0px;
    height: 45px;
    margin-bottom: 15px;
    background-color: #fff;
    position: relative;
    >input{
        width: 79%;
        margin-right: 0%;
    }
    .email_btn{
        width: 10%;
        background-color: #2450a2;
        color: white;
        border: 0px;
    }
}
select{
    width: 34%;
    height: 45px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: #fff;
    position: relative;
    font-size: 16px;
}
option{
    padding: 3px 0;
    font-size: 16px;
}
.email-group-text{
    width: 20px; 
    height: 45px; 
    font-size: 25px;
    margin: 1%;
}
.email_btn{
    width: 10%;
    background-color: #2450a2;
    color: white;
    border: 0px;
}

/* 이메일 인증 부분 */
.AuthenticationEmail{
    width: 650px;
    >input{
        width: 79%;
        margin-right: 0%;
        background-color: lightgray;
    }
    >.email_btn{
        width: 10%;
        background-color: #2450a2;
        color: white;
        border: 0px;
    }

}


button {
    background-color: #2450a2;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    width: 35px;
    height: 30px;
}

#next_btn{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #2450a2;
    font-size: 30px;
    color: #fff;
    width: 600px;
    height: 70px;
    justify-content: center;
    overflow: hidden;
    margin: 2%;
}