@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
    list-style: none;
    text-decoration: none;
    color: black;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
}

.wrap {
    background: #e1e1e1;
}

/* header start */
.header {
    display: flex;
    width: 1280px;
    height: 86px;
    margin: auto;
}

.nav_bar {
    margin-top: 31px;
    width: 1200px;
}

.nav_bar > ul {
    display: flex;
}

.header a {
    color: #000;
}

.nav_bar li {
    margin-right: 100px;
    font-weight: bold;
    font-size: 20px;
}

.profile {
    line-height: 86px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}

.login {
    width: 80px;
    line-height: 86px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

/* header end */
/* content start */

/* back/next button */
.btn_cont {
    width: 1280px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}



.btn_cont img {
    height: 40px;
    width: 40px;
}

.btn_cont > div {
	display: flex;
	font-size: 26px;
	cursor: pointer;
}

.btn_cont > div > div {
	line-height: 40px;
}

.btn_cont > a > div {
    display: flex;
    font-size: 26px;
    cursor: pointer;
}

.btn_cont > a > div > div {
    line-height: 40px;
}

/* content text */
.content {
    padding-bottom: 50px;
}
.content_intro {
    width: 500px;
    margin: auto;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 50px;

}

/* category card */
.category_card {
    margin: auto;
    border-radius: 10px;
    width:500px;
	height: auto;
    background: #fefefe;
    box-shadow: 0px 0px 5px #999696;
}

.main_category {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.category_card {
    margin-bottom: 20px;
}

.category_card > div > img {
    width:60px;
	height:60px;
    margin: 10px;
}

.category_info {
    width: 380px;
}

.category_text {
    color: #000;
    font-size: 18px;
}

.category_detail {
    font-size: 12px;
    font-weight: thin;
    color: #999696;
}

.show > img{
    width: 30px;
    height: 30px;
}

/* subcategory */
.sub_category {
    display: none;

}

input[type=radio] {
	display: none;

}

input[type=radio]+label {
	display: inline-block;
	cursor: pointer;
    margin: 5px;
	height: 40px;
	width: 150px;
	line-height: 40px;
	border: 1px solid #999696;
	text-align: center;
	font-size: 20px;
	color: #999696;
	background: #fefefe;
    font-weight: 100;
	border-radius: 10px;
}

input[type=radio]:checked+label{
	border: 1px solid black;
	color: black;
	
}
