@charset "UTF-8";

/* content start */
.content {
    text-align: center;
}

/* back/next button */
.btn_cont {
    width: 1280px;
    height: 40px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.btn_cont img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.btn_cont > div {
	display: flex;
	font-size: 26px;
	line-height: 40px;
	cursor: pointer;
}

.btn_cont > a > div {
    display: flex;
    font-size: 26px;
    cursor: pointer;
}

.btn_cont > a > div > div {
    line-height: 40px;
}

/* content main start */
.content_text1 {
    margin: auto;
    width: 500px;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}

.content_text2 {
    margin: auto;
    width: 500px;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid black;
    text-align: left;
    background: #fff;
    color: #000;
    width: 500px;
    height: 30px;
}

.textNo_ctn {
    display: flex;
    justify-content: end;
    width: 500px;
    margin: auto;
}

.text_no {
    font-size: 12px;
    font-weight: thin;
}
input[type=text]:focus {
    outline: none;
}

.content_img_ctn {
    width: 500px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.content_img_ctn > img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    box-shadow: 0px 0px 5px #e1e1e1;
    border-radius: 10px;
}

.content_content {
    font-size: 20px;
    margin-top: 50px;
    width: 500px;
    height: 500px;
}

textarea:focus {
    outline: none;
    resize: none;
}

