@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;
    font-family: 'Pretendard-Regular';
}

img{
    width: 150px;
    height: 150px;
}

.eye{
    object-fit: cover;
    width: 20px;
    height: 20px;
    margin-top: 10%;
}
body{
    background: #fff;
}

input{
    background-color: #fff;
    border: 0;
    padding: 0px;
    margin: 2%;
    width: 550px;
    position: relative;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
}

.form_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 600px;
    margin: 3% 0 0 0;
    padding: 5% 12% 7% 6%;
    justify-content: center;
    overflow: hidden;
}

input {
    padding: 10px;
    width : 500px;
    height: 45px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
  
button {
    background-color: #2450a2;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    width: 35px;
    height: 30px;
}

#divPasswd1{
    position: relative;
}

#divPasswd2{
    position: relative;
}

#divEmail{
    position: relative;
}

#divEmailAuthentication{
    position: relative; 
}

.password_info_btn{
    position: absolute;
    margin: auto;
    bottom: 19.5%;
    width: 6%;
    height: 55%;
    right: 0%;
    .show_hide{
        background-color: white;
    }
}

.email_info_btn{
    position: absolute;
    margin: auto;
    bottom: 19.5%;
    width: 6%;
    height: 55%;
    right: 0%;
}

#divEmail{
    width : 520px;
    height: 45px;
    font-size: 12px;
    margin-bottom: 15px;

    .email_info_btn{
        position: absolute;
        margin: auto;
        bottom: 19.5%;
        width: 11.3%;
        height: 43%;
        right: 0%;
    }
}

#next_btn{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    background-color: #2450a2;
    font-size: 30px;
    color: #fff;
    width: 600px;
    height: 70px;
    justify-content: center;
    overflow: hidden;
    margin: 5% 0% 0% 0%;
}

#gender_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width : 520px;
    padding : 0%;
}
label{
    user-select: none;
}
input[type="radio"] {
    display: none;
}
  
input[type="radio"] + label {
    text-align: center;
    color: #ced4da;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    font-weight: bold;
    width: 250px;
    height: 50px;
    
    
    background-color: #ffffff;
    border: 2px solid #ced4da;
    cursor: pointer;
    transition: all 200ms ease;
}
  
input[type="radio"]:checked + label {
    color: #fff;
    background-color: #2450a2;
    border: 2px solid #2450a2;
}
  
input[type="radio"] + label {
    padding: 13px 20px;
    
    border-radius: 10px;
}